html, body {
    width: 98%;
    height: 98%;
    background-color: #EEE;
}

.container {
    background-color: #FFF;
    width: 80%;
    margin: auto;
    padding: 20px;
}

#main {
}

.success {
    background-color: #47a72f;
}

.failure {
    background-color: #cb1e1e;
}

.timeout {
    background-color: #c88209;
}

a {
    text-decoration: none;
    color: #66A;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

pre {
    text-align: left !important;
}

p, li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}
.title, .artist {
    font-weight: bold;
    font-size: 24px;
    color: #0b45aa;
    margin: 5px;
}

.seperator {
    font-weight: bold;
    font-size: 24px;
    color: #ff5976;
}

li {
    margin: 10px;
    font-size: 22px;
}
